html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: century_gothic;
  font-weight: 300;
  color:#D9B451;
  background-color: black;
}

h1 {
  font-size: 3rem;
}

h4 {
  font-size: 1rem;
}
#fp-nav ul li .fp-tooltip {
  color: #D8B351;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #D8B351;
}

.title {
  position: absolute;
  z-index: 1;
  left:-46.7%;
  top: 45%;
}

.close_1pts9jo {
    top: 2rem !important;

}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 666ms cubic-bezier(.666,0,.333,1);
  transition: transform 666ms cubic-bezier(.666,0,.333,1);
  }

#leftPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 666ms cubic-bezier(.666,0,.333,1);
  transition: transform 666ms cubic-bezier(.666,0,.333,1);

  }

  .leftTrain {
    transform: translate3d(-50%, 0px, 0px);
  }

  .moveLeft {

    transform: translate3d(0px, 0px, 0px);  //show left page

  }

  .rightTrain {
    transform: translate3d(50%, 0px, 0px);
    // transform: translate3d(0px, 0px, 0px); //show right page
  }

  .moveRight {
    transform: translate3d(0px, 0px, 0px); //show right page
  }

  a, a:link, a:visited, a:hover, a:active{
    color: #D8B351;
    text-decoration: none;
  }

#rightPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 666ms cubic-bezier(.666,0,.333,1);
  transition: transform 666ms cubic-bezier(.666,0,.333,1);
  }

  .page {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

  #leftInner, #rightInner {
    width: 50%;
  }

#leftInner {
  background-color: #171515;
}

#rightInner {
  background-color: black;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  transition: opacity 2500ms, visibility 2500ms, transform 1500ms ease-out;
}
.scrollZone{
  top: 63%;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}
.trackLine {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  -webkit-transform: translate(-100%,0);
  -ms-transform: translate(-100%,0);
  transform: translate(-100%,0);
}

.innerLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: #ff3a1a;
  // visibility: hidden;
  // opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1);
  transition: visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1);

}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

#projectImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
/*  background: url(../images/projects/foresta/cover.jpg)no-repeat center center; */
  background-position: center center;
  // filter: gray; /* IE6-9 */
  // -webkit-filter: grayscale(90%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden;
  background-size: cover;
  z-index: 2;
}

#projectImg:hover {
  filter: none;
    -webkit-filter: grayscale(0%);
}

.section {

}
.item {
  object-fit: cover;
}

.item img {
  object-fit: cover;
}

.left-arrow {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #D8B351;
  background-color: #D8B351;
  border-radius: 50%;
  top: 47%;
  left: 2%;
  position: absolute;
  z-index: 2;

}

.left-arrow:hover {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #D8B351;
  background-color: #D8B351;
  border-radius: 50%;
  top: 47%;
  left: 2%;
  position: absolute;
  z-index: 2;
  transform: scale(1.15);
}

.left-arrow:after {
  content: '';
	display: inline-block;
  margin-top: 27%;
  margin-left: 30%;
  width: 1.5em;
  height: 1.5em;
  border-top: 0.3em solid white;
  border-right: 0.3em solid white;
  -moz-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transition-delay: 0.6s; /* Safari */
  transition-delay: 0.6s;
}

.right-arrow {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #D8B351;
  background-color: #D8B351;
  border-radius: 50%;
  transition: transform .25s ease;
  top: 47%;
  left: 2%;
  position: absolute;
  z-index: 2;
}

.right-arrow:hover {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #D8B351;
  background-color: #D8B351;
  border-radius: 50%;
  top: 47%;
  left: 2%;
  position: absolute;
  z-index: 2;
  transform: scale(1.15);
}

.right-arrow:after {
  content: '';
	display: inline-block;
  margin-top: 25%;
    margin-left: 13%;
  width: 1.5em;
  height: 1.5em;
  border-top: 0.3em solid white;
  border-right: 0.3em solid white;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.6s; /* Safari */
      transition-delay: 0.6s;
}

.close-button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.75em;
  height: 0.75em;
  position: relative;
  border: none;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  font: normal 8em/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  background: #1abc9c;
}

.close-button::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.45em;
  height: 0.1em;
  position: absolute;
  content: "";
  top: 0.33em;
  left: 0.155em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  background: #ffffff;
  text-shadow: none;
  -webkit-transform: rotateZ(45deg)   ;
  transform: rotateZ(45deg)   ;
}

.close-button::after {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.45em;
  height: 0.1em;
  position: absolute;
  content: "";
  top: 0.33em;
  left: 0.155em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  background: #ffffff;
  text-shadow: none;
  -webkit-transform: rotateZ(-45deg)   ;
  transform: rotateZ(-45deg)   ;
}

//ABOUT page
#leftSite {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 666ms cubic-bezier(.666,0,.333,1);
  transition: transform 666ms cubic-bezier(.666,0,.333,1);

}

#portraitImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/about/portrait.jpg)no-repeat center center;
  background-size: cover;
}

#rightSite {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 666ms cubic-bezier(.666,0,.333,1);
  transition: transform 666ms cubic-bezier(.666,0,.333,1);
}

//CONTACT

Logo.top-right {
  position:absolute;
  top:0;
  right:0;
}

ul.social {
  height: 40px;
  position: absolute;
  bottom: 4%;
  right: 6%;
  width: 100%;
}
ul.social li {

  margin-left: 3%;
  display: inline-block;
}
ol, ul {
  list-style: none;
}

ul.home {
  height: 40px;
  position: absolute;
  bottom: 4%;
  left: 5%;
  width: 100%;
}
ul.home li {
  display: inline-block;
}

.lava-link {
  position: relative;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.tick {
  background-color: #D9B451;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  margin-left: 9px;
  overflow: hidden;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-transition: margin-left 666ms cubic-bezier(.666,0,.333,1),-webkit-transform 666ms cubic-bezier(.666,0,.333,1);
  transition: margin-left 666ms cubic-bezier(.666,0,.333,1),transform 666ms cubic-bezier(.666,0,.333,1);
}

.tick.right {
  margin-left: -9px;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

article.upper {

  padding: 20%;
  padding-left: 35%;
  left: 14%;
}

article {
  position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 33% 20%;
    white-space: normal;
}

article p {
  color: #D8B351;
  font-size: 1.2rem;
}

// page sliding

.pageSlider-leave {
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
}

.pageSlider-leave-active {
  transform: translate3d(100%, 0, 0);

}

.pageSlider-enter {
  transform: translate3d(100%, 0, 0);
  transition: all 600ms;
}

.pageSlider-enter-active {
  transform: translate3d(0, 0, 0);

}

// SVG Logo SHIT

 .svgmain {
 margin: auto;
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
}

.st0{
fill: #D8B351;
}

.path {
animation: turn 5.25s linear;
fill-opacity: 0;
 animation-fill-mode: forwards;
}

.path1 {
animation: draw 3s linear;
fill-opacity: 0;
   animation-fill-mode: forwards;
}


.t1 {
 opacity: 0;
 animation-name: show;
 animation-delay: 2.25s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}

.t2 {
 opacity: 0;
 animation-name: show;
 animation-delay: 2.5s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-timing-function: linear;

}

.t3 {
 opacity: 0;
 animation-name: show;
 animation-delay: 2.75s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}

.t4 {
 opacity: 0;
 animation-name: show;
 animation-delay: 3s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}

.t5 {
 opacity: 0;
 animation-name: show;
 animation-delay: 3.25s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}
.t6 {
 opacity: 0;
 animation-name: show;
 animation-delay: 3.5s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}
.t7 {
 opacity: 0;
 animation-name: show;
 animation-delay: 3.75s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}
.t8 {
 opacity: 0;
 animation-name: show;
 animation-delay: 4s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}
.t9 {
 opacity: 0;
 animation-name: show;
 animation-delay: 4.25s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}
.t10 {
 opacity: 0;
 animation-name: show;
 animation-delay: 4.5s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}
.t11 {
 opacity: 0;
 animation-name: show;
 animation-delay: 4.75s;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}


@keyframes draw {
0%{fill-opacity: 0;}
100%{fill-opacity: 1;}
}

@keyframes turn {
20%{fill-opacity: 0; transform:rotateY(40deg);}
100%{fill-opacity: 1;}
}

@keyframes show {
 to {
   opacity: 1;
 }
}

@media only screen and (orientation: portrait) {

 svg {
     transform: scale(1.5);

   }
   .logoNA{
      margin: 9% !important;
      margin-top: 12% !important;
   }

   article {
     padding: 29.5rem 5rem;
   }
}

@media only screen
  and (orientation: landscape)
  and (min-device-height: 300px)
  and (max-device-height: 720px) {
    article p {
      font-size: .7rem;
    }

    h1{
      font-size: 2.5rem;
    }

    h4{
      font-size: .7rem;
    }


    .left-arrow {
      width: 3em;
      height: 3em;
    }

    .left-arrow:hover {
      width: 3em;
      height: 3em;
      transform: scale(1.10);
    }

    .left-arrow:after {
      margin-top: 15%;
      margin-left: 25%;
      width: 1.3em;
      height: 1.3em;
    }

    .right-arrow {
      width: 3em;
      height: 3em;

    }

    .right-arrow:hover {
      width: 3em;
      height: 3em;
      transform: scale(1.10);
    }

    .right-arrow:after {
      margin-top: 20%;
      margin-left: 5%;
      width: 1.3em;
      height: 1.3em;

    }
}
